<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <% if ( !user ) { %>

      <a href ="/login">Log in</a> <a href ="/register">Sign up</a>

    <% } else { %>
      Hi <%= user.email %> <a href ="/urls">My links</a> <form method="POST" action="/logout"><input type="submit" value="Log out"></form>
    <% } %>


</body>
</html>