<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>

</head>
<body style="font-size:20px; padding:50px;">
    <form method="POST" action="/login">
    <label for="email">Email:</label> <!-- Fix indentation -->
    <input type="email" name="email" value="">
    <label for="password">Password:</label>
    <input type="password" name="password" value="">

    <input type="submit" value="Login"></form>

    <p>Ain't got an account? git yer own <a href="/register">here!</a></p>


</body>
</html>