<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/_header %>

</head>
<body>
    <!-- Add your EJS code here -->

    <% if ( user ){ %>


    <ul>

      <% for ( url of user.urls){ %>
        <li><%= url %> - <%= urls[url] %> <a href ="/urls/<%= url %>">Edit</a><form method="POST" action="/urls/<%= url %>?_method=DELETE"><input type="submit" value="Delete"></form></li>

      <% } %>
    </ul>
    <a href = "/urls/new">New URL</a>

    <% } else { %>

    <p> Yer not logged in, fella!</p>

    <% } %>

</body>
</html>