<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>

</head>
<body>
    <!-- Add your EJS code here -->

    <%= shortURL %> - <%= urls[shortURL] %>
    <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
      <label for="longURL">Update the URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>

</body>
</html>